_site/
.quarto/
_freeze/
.playwright-cli/
*_cache/
*_files/
*_files*/
site_libs/
*.html
.Rhistory
.Rproj.user/
.DS_Store
tmp/
instructeur/
data/raw/
data/accidents_quebec_2022_eiom.csv


/.quarto/
**/*.quarto_ipynb
